
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define BUTTON 1
#define NAV    2
#define MOUSE  3
#define MEDIA  4
#define NUM    5
#define SYM    6
#define FUN    7

&mt {
   tapping-term-ms = <400>;
};

/ {
	behaviors {
        hm: homerow_mods {
            compatible = "zmk behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>,  <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp Q		&kp W       &kp F         &kp P        &kp B				&kp J   &kp L        &kp U        &kp Y       &kp SEMI
				&hm LGUI A	&hm LALT R  &hm LCTRL S   &hm LSHIFT T &kp G				&kp M   &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
				&lt BUTTON Z &kp X       &kp C         &kp D        &kp V				&kp K   &kp H        &kp COMMA    &kp DOT     &lt BUTTON SLASH
                              &kp LEFT       &kp RIGHT                                                     &kp UP       &kp DOWN
                                    &lt FUN DEL &lt NUM BSPC  &lt SYM RET              &lt MOUSE TAB  &lt NAV SPC   &lt MEDIA ESC
                                                &lt MOUSE TAB  &lt NAV SPC             &lt NUM BSPC  &lt SYM RET
			>;

		};

		NAV {
			bindings = <
				&kp PG_UP   &kp HOME      &kp UP        &kp END      &kp INS            U_NA   U_NA       U_NA       U_NA          &bootloader
				&kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT    &kp CAPS           U_NA   &kp LSHFT  &kp LCTRL  &kp LALT      &kp LGUI  
				U_UND       U_CUT         U_CPY         U_PST        U_RDO              U_NA   U_NA       U_NA       &kp RALT  	U_NA
							&kp LEFT       &kp RIGHT                                                       &kp UP     &kp DOWN
								&lt FUN DEL &lt NUM BSPC  &lt SYM RET                  &lt MOUSE TAB  &lt NAV SPC   &lt MEDIA ESC
                                            &lt MOUSE TAB  &lt NAV SPC             &lt NUM BSPC  &lt SYM RET
																																				
			>;

		};

        MOUSE {
			bindings = <
				U_WH_U   U_WH_L		U_MS_U		U_WH_R		U_NU				U_NA		U_NA		U_NA		U_NA		&bootloader
				U_WH_D   U_MS_L 	U_MS_D		U_MS_R		U_NU				U_NA		&kp LSHFT	&kp LCTRL	&kp LALT	&kp LGUI
				U_UND    U_CUT		U_CPY       U_PST		U_RDO				U_NA		U_NA		U_NA		&kp RALT	U_NA
						 U_NP    	U_NP 																U_NP    	U_NP           
						 U_BTN2		U_BTN3		U_BTN1										U_NA		U_NA		U_NA
						 			U_NA		U_NA										U_NA		U_NA	
		>;

		};

		MEDIA {
			bindings = <
				U_NA		U_NA 		&kp C_VOL_UP		U_NA		U_NA					U_NA		U_NA		U_NA		U_NA		&bootloader	
				U_NA 		&kp C_PREV  &kp C_VOL_DN		&kp C_NEXT	&out OUT_TOG       		U_NA		&kp LSHFT	&kp LCTRL	&kp LALT	&kp LGUI
				&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2		&bt BT_SEL 3 &bt BT_CLR				U_NA		U_NA		U_NA		&kp RALT	U_NA
								U_NP		U_NP															U_NP		U_NP              	
								&kp C_MUTE  &kp C_PP		&kp C_STOP         			U_NA               U_NA               U_NA
						
	            >;

		};

        SYM {
			bindings = <
				&bootloader        U_NA               U_NA               U_NA               U_NA               &kp LBRC           &kp AMPS           &kp ASTRK          &kp LPAR           &kp RBRC
				&kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          U_NA               &kp PLUS           &kp DLLR           &kp PRCT           &kp CRRT           &kp COLON 
				U_NA               &kp RALT           U_NA               U_NA               U_NA               &kp PIPE           &kp EXCL           &kp AT             &kp HASH           &kp TILDE  
                              	   &kp LEFT			  &kp RIGHT                                                    				  &kp UP    	     &kp DOWN
                                   U_NA               U_NA               U_NA               				   &kp UNDER          &kp LPAR           &kp RPAR
								   					  U_NA               U_NA								   &kp LBRC			  &kp RBRC
	            >;

		};

		FUN {
			bindings = <
			&bootloader        U_NA               U_NA               U_NA               U_NA               &kp PSCRN          &kp F7             &kp F8             &kp F9             &kp F12			
			&kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          U_NA               &kp SLCK           &kp F4             &kp F5             &kp F6             &kp F11
			U_NA               &kp RALT           U_NA               U_NA               U_NA               &kp PAUSE_BREAK    &kp F1             &kp F2             &kp F3             &kp F10   
				               &kp LEFT			  &kp RIGHT                                                    				  &kp UP    	     &kp DOWN
												  U_NA               U_NA               U_NA               &kp TAB            &kp SPC            &kp K_APP
 																	 &kp LEFT			&kp RIGHT          &kp UP    	      &kp DOWN
			>;    
		}

		BUTTON {
			bindings = <
			U_UND              U_CUT              U_CPY              U_PST              U_RDO              U_RDO              U_PST              U_CPY              U_CUT              U_UND
			&kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &none              &none              &kp LSHFT          &kp LCTRL          &kp LALT           &kp LGUI	
			U_UND              U_CUT              U_CPY              U_PST              U_RDO              U_RDO              U_PST              U_CPY              U_CUT              U_UND 	 
				               U_NA               U_NA              														                     U_NA				U_NA             	
							   U_BTN2             U_BTN3             U_BTN1             					    		      U_BTN1             U_BTN3             U_BTN2
												  U_NA               U_NA              										  U_NA			     U_NA
			>;    
		}
		
	};
};